.btn {
  color: black;
  font-size: 25px;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 40px;
  font-family: "Jua";
  background-image: linear-gradient(#b38e33, #dfbd69);
}

.btn:hover {
  background-image: linear-gradient(#e0c685, #fae8bc);
  cursor: pointer;
}

.innerBtn {
  border-radius: 30px;
  padding: 8px;
  background-image: linear-gradient(#e7ca81, #b38e33);
}

.innerBtn:hover {
  background-image: linear-gradient(#e6d5ac, #f3d589);
}

.outerBtn {
  border-radius: 40px;
  padding: 10px;
  background-color: #452e25;
  
}

/* ---- */

.outerSquareBtn {
  border-radius: 20px;
  padding: 5px;
  background-color: #452e25;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerSquareBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  border-radius: 20px;
  padding: 8px;
  background-image: linear-gradient(#e7ca81, #b38e33);
}

.innerSquareBtn:hover {
  background-image: linear-gradient(#e6d5ac, #f3d589);
}

.squareBtn {
  width: 38px;
  aspect-ratio: 1;
  color: black;
  font-size: 25px;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px;
  font-family: "Jua";
  background-image: linear-gradient(#b38e33, #dfbd69);
}

.squareBtn:hover {
  background-image: linear-gradient(#e0c685, #fae8bc);
  cursor: pointer;
}

.closeBtn {
  color: #FF6262;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
}

.closeBtn:hover {
  opacity: 0.8;
}


.innerForwardButton {
  border-radius: 30px;
  padding: 8px;
  background: linear-gradient(0deg, #36241C, #36241C),
}