.cloud_class_level_5 {
  width: 100%;
  background: url("../../assets/bgskyclouds.gif") repeat 0 0;
  animation: slide 8s linear infinite;
  box-sizing: border-box;
}

.bg_level_5 {
  background-image: url("../../assets/bglandrocks.png");
  /* background-position: bottom; */
  background-repeat: repeat-x;
  background-size: auto 1080px;
  height: 100vh;
  margin-bottom: 0px;
  width: 100vw;
  animation: slide 10s linear infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 675px;
  }
}

.Hangman {
  width: 100%;
}

.questionBox {
  height: auto;
  width: 60%;
  font-size: 20px;
  padding-top: 15px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  background-color: rgba(211, 211, 211, 0.2);
}

.questionBox {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  top: 1vh;
  height: auto;
  width: 90%;
  padding-top: 15px;
  margin: 0 auto 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: rgba(211, 211, 211, 0.3);
}

.words {
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  /* grid-gap: 5px; */
  grid-template-columns: repeat(9, 45px);
  grid-template-rows: repeat(3, 45px);
}

.score {
  display: flex;
  background-color: transparent;
  color: #000000;
  font-weight: bolder;
  text-align: center;
  padding: 15px;
  border-radius: 25px;
  font-size: larger;
}

.maingrid {
  justify-content: center;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 405px;
  /* border: red solid; */
}

@media only screen and (max-width: 600px) {
  .maingrid {
    justify-content: center;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 345px;
    /* border: red solid; */
  }
  .words {
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
    grid-template-columns: repeat(9, 35px);
    grid-template-rows: repeat(3, 35px);
    font-size: 27px;
  }
  .button-alpha {
    background-color: #ffffff;
    font-weight: 600;
  }
}

.submit-button {
  background: #ffffff;
  border: black solid;
  margin-top: 15px;
  padding: 3px;
  color: black;
  font-weight: 700;
  width: 150px;
  height: 40px;
  transition: all 0.35s;

  border-radius: 99px;
}

.submit-button:hover {
  background: black;
  color: #fff;
}

.game-timer {
  position: absolute;
  top: 20px;
  right: 20px;
}
