/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Modal Dialog */
  .modal-dialog {
    margin: 0 auto;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 3rem;
    
  }


  .modal-content {
    font-family: "Jua";
    max-width: 1000px;
  }


  
  

  /* Modal Header */
  .modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Align items at the start and end */
    align-items: center;
    background-repeat: repeat;
    background-position: center;
    height: 80px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-image: url("../../assets/woodbg.png");

  }

  .modal-title {
    flex-grow: 1; /* Allow title to grow and fill available space */
    text-align: center;
    font-family: "Jua";
    color: #af8b2f;
    font-size: 3rem;
    margin-left: 50px;
    text-shadow:
    -1px -1px 0 #7C5F13, 
    1px -1px 0 #7C5F13, 
    -1px 1px 0 #7C5F13,  
    1px 1px 0 #7C5F13; 
  }
  
    

  /* Modal Body */
  .modal-body {
    display: flex;
    background-color: #4F3224;
    width: 100%;
  }
  
  /* Modal Left Section */
  .modal-left {
    width: 3%;
    background-image: url("../../assets/woodbgvertical.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;

  }


  /* Modal Center Section */
  .modal-center {
    width: 94%;
    max-height: 530px;
    background-color: rgba(207, 170, 75, 1);
    box-shadow: inset 3px 5px 4px rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Modal Right Section */
  .modal-right {
    width: 3%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/woodbgvertical.png");
    display: flex;
    align-items: center;
    position: relative;

  }
  
  /* Modal Footer */
  .modal-footer {
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-repeat: repeat;
    background-position: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-image: url("../../assets/woodbg.png");
    min-height: 20px;

  }

  
 /* leaves CSs */
  .leaf-left{
    position: absolute; 
    left: -50px; 
    height: 190px;

  }

  .leaf-left-categories{
    position: absolute; 
    left: -50px; 
    top: 0px ;
    height: 190px;

  }

  .leaf-right{
    position: absolute; 
    height: 210px;
    right: -50px;
    margin-bottom: 80px;

  }

  .leaf-right-categories{
    position: absolute; 
    height: 210px;
    right: -40px;
    bottom: -160px;
    z-index: 1;

  }
  
  .leaf-right-winner{
    position: absolute; 
    height: 210px;
    right: -40px;
    bottom: -50px;
    z-index: 1;

  }

  .settings-contentContainer{
    width:  550px;
    height: 35vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;

  }
 

  .content-tagtitle{
    font-family: "Jua";
    font-size: 3rem;
    color: #7C5F13;
    margin-bottom: 10px;
    display: flex;
    justify-self: flex-start;
  }

  .checkboxes-label{
    justify-content: space-between;
    flex-direction: column;
  }

/* This css is for normalizing styles. You can skip this. */
.custom-checkbox *,
.custom-checkbox *:before,
.custom-checkbox *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.custom-checkbox .new {
  padding-right: 15px;


}

.custom-checkbox .form-group {
  display: block;
  margin-bottom: 15px;
}

.custom-checkbox .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.custom-checkbox .form-group label {
  position: relative;
  cursor: pointer;

}
.custom-checkbox .form-group label:before {
  content: "";
  -webkit-appearance: none;
  background: linear-gradient(180deg, rgba(163, 127, 37, 0.19) 0%, #CF7B4B 100%);
  border: 3px solid #813C1C;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 3px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  text-align: center;
  line-height: 50px;


}

.custom-checkbox .form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 18px;
  height: 40px;
  border: solid #4D3021;
  border-radius: 5px;
  border-width: 0 7px 7px 0;
  
}

.custom-checkbox .form-group label:hover:before {
  background: rgba(255, 255, 255, 0.4);
}




  .howto-Container{
    display: flex;
    flex-direction: row;
    margin: 40px ;
    max-width: 850px;
  }
  
  .step1-img{
    margin-right: 20px;
    
  }

  .step2-img{
    margin-right: 20px;

  }
  .step3-img{
    height: 100px;
    margin-top: 60px;
    margin-right: 20px;
    
  }
  
  .step-instruc{
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Jua";
    font-size: 2rem;
    color: #ffff;
    text-shadow:
    -1px -1px 0 #7C5F13, 
    1px -1px 0 #7C5F13, 
    -1px 1px 0 #7C5F13,  
    1px 1px 0 #7C5F13; 
  }

  .stepper-Container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
  }

  
  .iconHowto {
    color: #fff;

  }
  
  .stepper-title{
    text-align: center;
    font-family: "Jua";
    color: #af8b2f;
    font-size: 2rem;
    font-weight: 400;
    text-shadow:
    -1px -1px 0 #36241C, 
    1px -1px 0 #36241C, 
    -1px 1px 0 #36241C,  
    1px 1px 0 #36241C; 
    margin-left: 40px;
    margin-right: 40px;
  }

.stepper-hide{
  opacity: 0;
}

.category-Container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
}
.category-checkbox{
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.category-radioLabel > input + div {
  border: 1px solid grey;
  text-align: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(163, 127, 37, 0.19) 0%, #CF7B4B 100%);
  border: 4px solid #813C1C;
  border-radius: 10px;
  width: 120px;
  height: 120px;
  margin: 20px;
}

.category-radioLabel > input + div:hover {
  background: rgba(255, 255, 255, 0.4);
}

.category-radioLabel > input {
  visibility: hidden;
  position: absolute;
}

.category-radioLabel {
  cursor: pointer;
}

.category-tagtitle{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Jua";
  font-size: 2rem;
}

.category-radioLabel > input:checked + div {
  border: 4px solid #813C1C;
  background: #FFD600;

}

.select-container{
  width: 40%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}



.winnerModal-content{
  display: flex;
  text-align: center;
  font-family: "Jua";
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  color: #ffff;
  text-shadow: -1px -1px 0 #7C5F13, 1px -1px 0 #7C5F13, -1px 1px 0 #7C5F13, 1px 1px 0 #7C5F13;
  max-width:  900px;
  height: 40vh;
}

.winnerModal-msg{
  display: flex;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 20px;
}

.winnerModal-submsg{
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 500;

}

.kevin-Modal{
  height: 160px;
  margin-top: auto;
  margin-right:auto;
}

.russell-Modal{
  height: 130px;
  margin-bottom: auto;
}

.winner-textcontent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left:50px ;
  margin-right: 50px;
}


.loserModal-content{
  display: flex;
  text-align: center;
  font-family: "Jua";
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  color: #ffff;
  text-shadow: -1px -1px 0 #7C5F13, 1px -1px 0 #7C5F13, -1px 1px 0 #7C5F13, 1px 1px 0 #7C5F13;
  width:  500px;
  height: 20vh;
}

.loserModal-msg{
  display: flex;
  font-weight: 600;
}

.modal-center-loser {
  width: 94%;
  min-height: 150px;
  background-color: rgba(207, 170, 75, 1);
  box-shadow: inset 3px 5px 4px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .winnerModal-content {
    flex-direction: column;
    font-size: 2rem;
  }

  .kevin-Modal {
    display: none !important;
  }

  .russell-Modal {
   display: none !important;
  }

  .category-checkbox{
    flex-direction: column;
  }

  .category-radioLabel > input + div {
    width: 250px;
    height: 70px;
    margin: 10px;
  }

  .settings-contentContainer{
    height: 25vh;
    width: 400px;
  }

  .howto-Container{
    flex-direction: column;
  }

  .step-instruc{
    margin-top: 30px;
  }
  .step1-img {
    margin: 0;
    width: 300px;
  }
  .step2-img{
    margin: 0;
    height: 300px;

  }

  .step3-img {
    margin: 0;
  }

  .winner-textcontent{
    margin-left: 10px;
    margin-right: 10px;
  }
  .loserModal-content{
  
    width:  300px;
  }
}

