.button-alpha {
  font-weight: 700;
  background: white;
  height: 37px;
  width: 40px;
  align-items: center;
  border-radius: 99px;
  border: none;
  font-size: 25px;
  transition: 100ms all ease;
}

.button-alpha:hover {
  transform: scale(1.2);
  color: white;
  font-size: xx-large;
  background-color: black;
  z-index: 5;
  /* background-color: rgba(128, 128, 128, 0.548) */
}
